/* Global Styles */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
	font-size:62.5%;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Aguafina Script', cursive;
}

h1 {
	font-size:7.2rem;
	margin:0;
}

h2 {
	font-size:5rem;
	margin:0;
}

h3 {
	font-size:4rem;
	margin:0;
}

p {
	font-size:1.4rem;
	margin:0;
}

a {
	text-decoration: none;
	font-size:1.4rem;
}

.clearfix:after {
		  visibility: hidden;
		  display: block;
		  font-size: 0;
		  content: " ";
		  clear: both;
		  height: 0;
} 

/* alignment styles */
.alignCenter {
	text-align: center;
}

.alignRight {
	text-align: right;
}

.alignLeft {
	text-align:left;
}

.alignTop {
	vertical-align: top;
}

.tenth {
	width:10%;
}

.quarter {
	width:25%;
}

.third {
	width:33%;
}

.half {
	width:50%;
}

.seventyFive {
	width:75%;
}

.eightyFive {
	width:85%;
}

.ninety {
	width:90%;
}
.ninetyFive {
	width:95%;
}

.inline {
	display:inline-block;
}

/* Main Wrapper */
.container {
	max-width: 1920px;
	margin:0 auto;
}

/*Header Wrapper*/
header {
	background: url("assets/hero.jpg");
	background-size:cover;
}

/* Top Navigation *************************************************/

.topNavTop {
	background-color:black;
	height:50px;
	color:white;
	padding-left:15%;
	padding-right:15%;
}

.topNavTop p, .topNavTop img {
	display:inline-block;
	position:relative;
	line-height: 50px;
	padding:0 5px;
	
}

.topNavRight {
	float:right;
}

.topNavTop p:first-child {
	float:left;
}

.topNavBottom {
	clear:both;
	background-color:rgba(0,0,0,0.5);
	height:85px;
	color:white;
}

.topNavBottom img, .topNavBottom div {
	display:inline-block;
	padding-left:15%;
	padding-right:15%;
}

.topNavBottom img {
	float:left;
	position:relative;
	top:50%;
	transform: translateY(-50%);
}

.topNavBottom div {
	float:right;
	position:relative;
	top:50%;
	transform: translateY(-50%);
}

.topNavBottom a {
	color:white;
	padding-right:30px;
}
/*End of Navigation*/
/*Home Page ********************************************************/
/*Hero section */


.hero h1 {
	color:white;
	margin-top:40px;
}

.hero p {
	color:white;
	font-size:1.5rem;
	position:relative;
}

.hero p:before {
	content:"-";
	position:absolute;
	transform:scaleX(10);
	left:40%;
}

.hero p:after {
	content:"-";
	position:absolute;
	transform:scaleX(10);
	right:40%;
}

.hero span {
	padding:0 10px;
}

.since {
	padding-top:100px;
}

.spring {
	padding-bottom:180px;
	padding-top:20px;
}

/* about section */

.about {
	margin:0px auto;
	height:620px;
	width:70%;
	
}
.about div {
	text-align:center;
	display:inline-block;
	width:50%;
	float:left;
	position:relative;
	top:50%;
	transform: translateY(-50%);
	padding:0 60px;
}

.about div p {
	padding-bottom:10px;
}

.about div img {
	padding-bottom:10px;
}
.about img:last-child {
	max-width:465px;
	width:50%;
	display:inline-block;
	float:left;
	position:relative;
	top:50%;
	transform:translateY(-50%);

}

/* Specials Page */

.specials {
	background: lightgrey url("assets/home page/specials-border.png") no-repeat scroll center;
	background-size:70%;
	height:800px;
}

.cutlery {
	background: lightgrey url("assets/home page/cutlery.png") no-repeat scroll center;
	height:250px;
}
.specialsTitle {
	padding-top:60px;
	padding-bottom:60px;
	text-align: center;
}

.specialsWrapper {
	width:65%;
	margin:0 auto;
}
.left, .middle, .right {
	display:inline-block;
	width:33%;
	padding: 0 25px;
}

.specialsWrapper p {
	font-size:2rem;
	padding:30px 0;
}

.button button {
	border:2px solid black;
	padding:10px;
	margin-top:100px;
	background-color:lightgrey;
}

.button button:hover {
	background-color:black;
	color:white;
	cursor: pointer;
}

/*Online Reservations */

.reservations {
	background:url("assets/header-background.jpg");
	background-position: center;
	height:350px;
}

.reservations .wrapper {
	width:70%;
	text-align:center;
	margin:0 auto;
}

form {
	width:100%;
	margin:0;
	padding:0;
}

.reservations .wrapper h2 {
	color:white;
	padding-top:50px;
}
.reservations .wrapper p {
	color:white;
	padding-top:20px;
}

.topInput{
	width:Calc(33% - 1% - 1%);
	
}

input {
	margin:20px 1%;
	font-size:1.3rem;
	padding:10px;
}

form .email{
	width:Calc(33% - 1% - 1%);
	
}

form .phone, form .people {
	width:Calc(26% - 1% - 1%);
	
}

.submitRes {
	width:12%;
	padding:10px 20px;
	margin:20px 10px;
	background-color:red;
	color:white;
	font-size:1.3rem;
	border:none;

}

.submitRes:hover {
	opacity:0.7;
	cursor: pointer;
}

/*Services*/
.services {
	background-color: lightgrey;
	height:500px;
}

.services .wrapper {
	width:70%;
	text-align: center;
	margin:0 auto;
}

.services .wrapper h2 {
	padding-top:50px;
}

.servicesDes {
	padding-top:20px;
	width:50%;
	margin:0 auto;
}

.servicesBoxes {
	margin-top:90px;
}

.servicesBoxes img {
	transform: translateY(-50%);
}
.servicesBoxes div{
	position:relative;
	display: inline-block;
	background-color: white;
	width:23%;
	height:150px;
	margin:0 1%;
}


/*Footer */

.footer {
	background:url("assets/header-background.jpg");
	height:650px;
}

.footerTop {
	text-align: center;
	color:white;
}

.footerTop img {
	padding-top:50px;
	padding-bottom:30px;
}

.footerTop p:first-of-type {
	font-size:1.8rem;
	padding-bottom: 30px;
}

.footerTop p:nth-of-type(2) {
	width:50%;
	padding-bottom: 30px;
	margin:0 auto;
}

.footerMiddle {
	background:#333;
	color:white;

}

.footerMiddle .middle {
	border-left: 4px inset grey;
	border-right: 4px outset grey;
}

.footerMiddle p {
	padding-bottom: 20px;
}

.footerMiddle .wrapper {
	width:70%;
	margin:0 auto;
}

.footerMiddle .wrapper .infoBox {
	display:inline-block;
	width:33%;
	vertical-align: top;
	padding:20px;

}

.footerMiddle .wrapper .infoBox input {
	margin:0;
	width:85%;
	border:none;
	color:grey;
}

.footerMiddle .wrapper .infoBox button {
	margin:0;
	width:15%;
	background:red;
	color:white;
	border:none;
	height:34px;
}

.footerMiddle .wrapper .infoBox button:hover {
	opacity:0.8;
	cursor:pointer;
}

.footerMiddle .wrapper .infoBox .title {
	font-size:1.9rem;
}

.footerMiddle .grey {
	color:grey;
}

.mountain {
	padding-left:10%;
}

.footerBottom {
	color:white;
	text-align: center;
}

.footerBottom p {
	padding-top:30px;
	color:darkgrey;
}

.footerBottom i {
	position:relative;
	font-size:20px;
	top:50%;
	transform:translateY(-50%);
}


.icons div {
	height:40px;
	width:40px;
	background-color: #333;
	text-align:center;
	border-radius:50%;
	margin-left:5px;
	margin-right:5px;
}

.icons div:hover {
	background-color: red;
	cursor:pointer;
}

.icons {
	padding-top: 30px;
}

.nootheme {
	color:white;
}

/* MENU PAGE ***********************************************************/

header.menu {
	background: url("assets/header-background.jpg");
}

.menuHeader {
	color:white;
}

.menuHeader h2 {
	padding-top: 30px;
	padding-bottom: 30px
}

.menuHeader p {
	padding-top: 20px;
	padding-bottom: 30px;
}

/* menu */

.menu .wrapper{
	width:60%;
	margin:0 auto;
}

.menu .wrapper .left, .menu .wrapper .middle, .menu .wrapper .right {
	padding: 20px 30px;
}
.menu .wrapper .largeText {
	font-size: 2rem;
}

.menu .wrapper .left p:nth-child(odd), .menu .wrapper .middle p:nth-child(odd), .menu .wrapper .right p:nth-child(odd) {
	padding-bottom: 30px;
}

.menuPictures img {
	display:inline-block;
	width:25%;
}

.menuPictures {
	font-size: 0;
}

/* EVENTS PAGE *****************************************/

.events .wrapper {
	width:50%;
	text-align: center;
	margin:0 auto;
}

img.wine {
	padding-top: 40px;
	padding-bottom: 40px;
	width:100%;
}

.events .wrapper .title {
	font-size:2rem;
	padding-bottom: 20px;
}

.events .wrapper .underline {
	padding:40px 0;
}

.events .wrapper .map {
	padding-bottom: 20px;
	width:100%;
}

.events .wrapper .details {
	padding-bottom: 20px;

}

.events .wrapper .buttons {
	padding-bottom: 40px;
}
.events .wrapper .buttons button {
	padding:5px 30px;
	border:2px solid black;
	background-color: white;
	font-weight: bold;
}

.events .wrapper .buttons button:hover {
	background-color: red;
	cursor: pointer;
}

button.prev {
	float:left;
}

button.next {
	float:right;
}
